.factories-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.factories-page-navbar-interactive {
  gap: 0;
  width: 100%;
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-500);
}
.factories-page-desktop-menu {
  display: flex;
}
.factories-page-nav {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.factories-page-text {
  color: var(--dl-color-gray-white);
  padding-left: var(--dl-space-space-fourunits);
}
.factories-page-text01 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-left: var(--dl-space-space-twounits);
}
.factories-page-text02 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-left: var(--dl-space-space-twounits);
}
.factories-page-text03 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-left: var(--dl-space-space-twounits);
}
.factories-page-text04 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-left: 25%;
  padding-right: 4.75%;
}
.factories-page-container1 {
  width: 139px;
  height: 82px;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-primary-300);
}
.factories-page-text05 {
  color: var(--dl-color-gray-white);
}
.factories-page-container2 {
  width: 1150px;
  height: 591px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.factories-page-container3 {
  top: 76px;
  flex: 0 0 auto;
  left: 32px;
  width: 1083px;
  height: 412px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 0px;
  justify-content: flex-start;
}
.factories-page-text07 {
  color: var(--dl-color-primary-300);
  font-size: 20px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-twounits);
}
.factories-page-button {
  color: var(--dl-color-gray-white);
  right: 0px;
  bottom: 0px;
  position: absolute;
  align-self: flex-end;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-primary-500);
}
.factories-page-button1 {
  color: var(--dl-color-gray-white);
  right: 120px;
  bottom: 0px;
  position: absolute;
  align-self: flex-end;
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-primary-500);
}
.factories-page-container4 {
  width: 1150px;
  height: 406px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.factories-page-ul {
  width: 1132px;
  padding: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  background-color: #ed5c3a;
}
.factories-page-li {
  color: var(--dl-color-gray-900);
  text-align: center;
}
.factories-page-text08 {
  color: var(--dl-color-gray-white);
}
.factories-page-li1 {
  color: var(--dl-color-gray-900);
  text-align: center;
}
.factories-page-text09 {
  color: var(--dl-color-gray-white);
}
.factories-page-li2 {
  color: var(--dl-color-gray-900);
  text-align: center;
}
.factories-page-text10 {
  color: var(--dl-color-gray-white);
}
.factories-page-container5 {
  flex: 0 0 auto;
  left: 6px;
  width: 1137px;
  bottom: 16px;
  height: 291px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 0px;
  justify-content: flex-start;
}
.factories-page-text11 {
  color: var(--dl-color-primary-500);
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  font-family: Georgia;
  font-weight: 800;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.factories-page-form {
  top: 30px;
  left: 0px;
  width: 1089px;
  height: 172px;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: flex-start;
}
.factories-page-textinput {
  top: 42px;
  left: 0px;
  color: var(--dl-color-gray-500);
  width: 427px;
  position: absolute;
  margin-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 0px;
  background-color: transparent;
}
.factories-page-textinput1 {
  top: 117px;
  left: 0px;
  color: var(--dl-color-gray-500);
  width: 427px;
  position: absolute;
  margin-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 0px;
  background-color: transparent;
}
.factories-page-textinput2 {
  top: 42px;
  left: 630px;
  color: var(--dl-color-gray-500);
  right: 0px;
  width: 427px;
  position: absolute;
  border-radius: 0px;
  background-color: transparent;
}
.factories-page-textinput3 {
  top: 117px;
  left: 630px;
  color: var(--dl-color-gray-500);
  width: 427px;
  position: absolute;
  border-radius: 0px;
  background-color: transparent;
}
.factories-page-text12 {
  top: 24px;
  color: var(--dl-color-gray-black);
  position: absolute;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.factories-page-text13 {
  top: 98px;
  left: 0px;
  color: var(--dl-color-gray-black);
  position: absolute;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.factories-page-text14 {
  top: 24px;
  left: 630px;
  color: var(--dl-color-gray-black);
  position: absolute;
}
.factories-page-text15 {
  top: 98px;
  left: 630px;
  color: var(--dl-color-gray-black);
  position: absolute;
}
.factories-page-button2 {
  left: 19px;
  color: var(--dl-color-gray-white);
  width: 1107px;
  bottom: -13px;
  height: 39px;
  position: absolute;
  align-self: flex-end;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-primary-500);
}
.factories-page-container6 {
  width: 100%;
  height: 66px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-500);
}
.factories-page-text16 {
  color: var(--dl-color-gray-900);
  font-size: 12px;
}
@media(max-width: 767px) {
  .factories-page-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .factories-page-desktop-menu {
    display: none;
  }
  .factories-page-text01 {
    margin-left: var(--dl-space-space-unit);
  }
  .factories-page-text02 {
    margin-left: var(--dl-space-space-unit);
  }
  .factories-page-text03 {
    margin-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .factories-page-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
}

table {
  background: #293241;
  border-collapse: collapse;
  margin: 1em;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}

