.task-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.task-page-navbar-interactive {
  gap: 0;
  width: 100%;
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.task-page-desktop-menu {
  display: flex;
}
.task-page-nav {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
}
.task-page-navlink {
  display: contents;
}
.task-page-text {
  color: var(--dl-color-gray-white);
  padding-left: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.task-page-navlink1 {
  display: contents;
}
.task-page-text01 {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-left: 67%;
  padding-right: 4.75%;
  text-decoration: none;
}
.task-page-container01 {
  width: 139px;
  height: 82px;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-primary-300);
}
.task-page-navlink2 {
  display: contents;
}
.task-page-text02 {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.task-page-container02 {
  width: 1150px;
  height: 1050px;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: flex-start;
}
.task-page-text03 {
  color: var(--dl-color-primary-300);
  font-size: 20px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 800;
  margin-bottom: var(--dl-space-space-twounits);
}
.task-page-container03 {
  top: 76px;
  flex: 0 0 auto;
  left: 32px;
  width: 1083px;
  height: 880px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  position: absolute;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 0px;
  flex-direction: column;
  padding-bottom: 24px;
  justify-content: flex-start;
}
.task-page-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 137px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  overflow: auto;
}
.task-page-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 137px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: flex-start;
  overflow: auto;
}
.task-page-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 181px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.task-page-container07 {
  width: 100%;
  height: 168px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.task-page-container08 {
  width: 100%;
  height: 44px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.task-page-container09 {
  width: 100%;
  height: 50%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.task-page-container10 {
  flex: 0 0 auto;
  width: XXLarge;
  height: auto;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.task-page-select {
  width: var(--dl-size-size-xxlarge);
  height: 40px;
  margin: 0px;
  padding: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.task-page-container11 {
  flex: 0 0 auto;
  width: XXLarge;
  height: auto;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.task-page-textinput {
  width: var(--dl-size-size-xxlarge);
  height: 40px;
  margin: 0px;
  padding: var(--dl-space-space-halfunit);
  border-radius: 0px;
}
.task-page-button {
  color: var(--dl-color-gray-white);
  width: 591px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(238, 108, 77);
}
.task-page-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 220px;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: flex-start;
  overflow: auto;
}
.task-page-container13 {
  width: 100%;
  height: 110px;
  display: flex;
  padding: 0px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.task-page-container14 {
  width: 100%;
  height: 42px;
  display: flex;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: center;
  border-bottom-width: 0px;
}
.task-page-container15 {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: center;
}
.task-page-button1 {
  color: var(--dl-color-gray-white);
  width: 345px;
  margin: var(--dl-space-space-halfunit);
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  background-color: var(--dl-color-primary-500);
}
.task-page-button2 {
  color: var(--dl-color-gray-white);
  width: 347px;
  margin: var(--dl-space-space-halfunit);
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  background-color: var(--dl-color-primary-500);
}
.task-page-button3 {
  color: var(--dl-color-gray-white);
  right: 0px;
  bottom: 0px;
  position: absolute;
  align-self: flex-end;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-primary-500);
}
.task-page-button4 {
  color: var(--dl-color-gray-white);
  right: 120px;
  bottom: 0px;
  position: absolute;
  align-self: flex-end;
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-primary-500);
}
.task-page-container16 {
  width: 100%;
  height: 66px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-500);
}
.task-page-text11 {
  color: var(--dl-color-gray-900);
  font-size: 12px;
}
@media(max-width: 767px) {
  .task-page-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .task-page-desktop-menu {
    display: none;
  }
}
@media(max-width: 479px) {
  .task-page-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
}


table {
  background: #293241;
  border-collapse: collapse;
  margin: 1em;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: center;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
  text-align: center;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}

